nav {
    text-align: center;
    margin: 10px;
}

nav p {
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
}

.aba {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    margin-right: 4%;
    margin-left: 4%;
}

.aba p {
    display: none;
}

.aba p.ativo {
    display: block;
}