dialog {
    min-height: 20%;
    width: 60%;
    border-radius: 10px;
}

button {
    background-color: black;
    color: white;
    border-color: gray;
    height: 40px;
    width: 120px;
    font-size: large;
}

